<ion-header>
  <ion-avatar slot="start">
    <img alt="Foto de perfil do usuário" [src]="avatar" />
  </ion-avatar>
  <ion-label>{{name}}</ion-label>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="user-data ion-align-items-end">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
              <h3>Nome</h3>
          </ion-col>
          <ion-col class="break-word-col">
            <p>{{name}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <h3>E-mail</h3>
          </ion-col>
          <ion-col>
            <p>{{email}}</p>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <h3>Nome de usuário</h3>
          </ion-col>
          <ion-col>
            <p>{{user}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </ion-label>
    <ion-button fill="clear" slot="end">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="user-password ion-align-items-end">
    <ion-label>
      <h2>Senha</h2>
      <p>Altere sua senha</p>
    </ion-label>
    <ion-button fill="clear" slot="end" (click)="teste()" id="open-password-modal">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- <ion-modal #modal trigger="open-password-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar color="primary">
          <ion-title>Altere sua senha</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">X</ion-button>
          </ion-buttons>
        </ion-toolbar>
        
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Senha Atual</ion-label>
            <ion-input type="password" placeholder="Digite sua senha atual"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Nova Senha</ion-label>
            <ion-input type="password" placeholder="Digite a nova senha"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Confirmar Nova Senha</ion-label>
            <ion-input type="password" placeholder="Confirme a nova senha"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="full" color="primary">Alterar Senha</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal> -->

  <ion-item class="user-payment ion-align-items-end">
    <ion-label>
      <h2>Salário</h2>
      <p>R$ {{payment}}</p>
    </ion-label>
    <ion-button fill="clear" slot="end" id="open-payment-modal">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-modal #modal trigger="open-payment-modal" id="payment-modal">
    <ng-template>
      <ion-content scrollY="false">
        <ion-toolbar color="primary">
          <ion-title>Altere seu salário</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">X</ion-button>
          </ion-buttons>
        </ion-toolbar>
        
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Salário</ion-label>
            <ion-input type="number" placeholder="Defina seu salário" [(ngModel)]="newPayment"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="full" color="primary" (click)="changePayment">Confirmar</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-item class="user-password ion-align-items-end">
    <ion-label>
      <h2>Avatar</h2>
      <p>Altere seu avatar</p>
    </ion-label>
    <ion-button fill="clear" slot="end" (click)="teste()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>

<ion-button fill="clear" (click)="logout()">
  Sair
</ion-button>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p>© SuperSave</p>
  </ion-toolbar>
</ion-footer>
