ion-content {
    --ion-background-color: #FAFAFA;
}

.btnBack {
    color: #008158;
}

.btnAdd {
    background: #008158;
}

#wishFile {
    padding: 11px; 
}

ion-grid {
    padding: 5px;
}

ion-radio {
    position: relative;
    left: -15px;
}

h2 {
    background-color: #008158;
    color:#FAFAFA;
    padding: 6px 15px;
}
