<ion-content>
  <ion-button fill="clear" class="btnBack" (click)="closeModal()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

  <form (ngSubmit)="addItem()">
    <ion-grid class="ion-padding">
      
      <ion-row>
        <!-- Coluna para a imagem selecionada -->
        <ion-col size="4">
          <img [src]="imageSrc" alt="Preview da Imagem" style="max-width: 50px;">
          <ion-button fill="clear" (click)="clearImage()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Coluna para o input de arquivo -->
        <ion-col size="6">
          <input type="file" (click)="addImg()" (change)="uploadImage($event)" accept="image/*">
        </ion-col>
        
        
      </ion-row>
      <!-- <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Nome do Produto</ion-label>
            <ion-input placeholder="Digite o nome do produto"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Nome da Loja</ion-label>
            <ion-input placeholder="Digite o nome da loja"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Valor do Produto</ion-label>
            <ion-input type="number" placeholder="Digite o valor do produto"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Valor Guardado</ion-label>
            <ion-input type="number" placeholder="Digite o valor guardado"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row> -->
      
    </ion-grid>

    <!-- <h2 aria-expanded="true">Valor</h2>
    <ion-item>
      <ion-input type="number" name="itemValue" [(ngModel)]="itemValue"></ion-input>
    </ion-item> -->

    <ion-button expand="full" type="submit" color="primary">
      <ion-icon name="add-circle"></ion-icon> Adicionar
    </ion-button>
  </form>
</ion-content>
