ion-content {
    --ion-background-color: #FAFAFA;
}

.btnBack {
    color: #008158;
}

.btnAdd {
    background: #008158;
}

ion-item {
    width: 95%;
}

ion-label {
    margin-left: 18px;
}

ion-radio {
    position: relative;
    left: -15px;
}

h2 {
    background-color: #008158;
    color:#FAFAFA;
    padding: 6px 15px;
}
