<ion-content>
  <ion-button fill="clear" class="btnBack" (click)="closeModal()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

  <form (ngSubmit)="addItem()">
    <ion-radio-group [(ngModel)]="selectedOption" [ngModelOptions]="{ standalone: true }">
      <h2 aria-expanded="true">Tipo</h2>
      <ion-item lines="none">
        <ion-label>Receita</ion-label>
        <ion-radio name="option" value="1"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Despesa</ion-label>
        <ion-radio name="option" value="2"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <h2 aria-expanded="true">Nome</h2>
    <ion-item>
      <ion-input type="text" name="itemName" [(ngModel)]="itemName"></ion-input>
    </ion-item>

    <h2 aria-expanded="true">Valor</h2>
    <ion-item>
      <ion-input type="number" name="itemValue" [(ngModel)]="itemValue"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" color="primary">
      <ion-icon name="add-circle"></ion-icon> Adicionar
    </ion-button>
  </form>
</ion-content>
